[Unit]
Description=Fetch Retool data and apply firewall rules every 30 seconds
After=network.target

[Service]
ExecStart=/bin/bash -c 'while true; do /etc/lsh-agent/rules.sh >> /var/log/rule-fetch.log 2>&1; sleep 30; done'
Restart=always
User=root

[Install]
WantedBy=multi-user.target